/** @format */

@import "tailwindcss";
@import "./font.css";
@import "./_variable.css";
@import "./_typography.css";

@plugin "tailwindcss-animate";

/* Scrollbar design */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 3px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi-Variable";
}

/* stp = section top padding, sbp= section bottom padding */
.stp-30 {
  @apply pt-16 md:pt-24 xl:pt-30;
}
.sbp-30 {
  @apply pb-16 md:pb-24 xl:pb-30;
}
.stp-15 {
  @apply pt-8 md:pt-12 xl:pt-15;
}
.sbp-15 {
  @apply pb-8 md:pb-12 xl:pb-15;
}

/* Container */
.custom-container {
  @apply mx-auto max-sm:max-w-[90%] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1296px];
}

.link-bottom {
  @apply before:bg-primary relative py-2 text-base before:absolute before:-bottom-0 before:left-0 before:h-1 before:w-[0%] before:skew-x-[24deg] before:opacity-0 before:duration-500 hover:before:w-[100%] hover:before:opacity-100;
}

/* Menu CSS Styles */
.ddn-item {
  @apply relative items-center font-semibold;
}
.ddn-btn {
  @apply flex w-full items-center justify-between gap-1 capitalize;
}
@media (width >= 992px) {
  /* Parent Dropdown */
  .ddn-menu {
    @apply before:bg-primary/20 border-dark5 invisible absolute top-[100%] left-0 w-full min-w-[200px] flex-col gap-2 space-y-1 rounded-lg border bg-white p-1 px-3 py-4 opacity-0 duration-300 before:absolute before:inset-0 before:h-full before:w-full before:rounded-lg;
  }
  .ddn-item:hover > .ddn-menu {
    @apply visible top-[100%] opacity-100;
    .ddn-menu {
      @apply top-[160%];
    }
  }
  .ddn-menu li a {
    @apply hover:border-primary block w-full border-l-2 border-transparent px-3 duration-300;
  }
  /* Nested Dropdown */
  .sub-menu {
    @apply invisible flex max-h-0 w-full min-w-[200px] flex-col gap-2 rounded-lg opacity-0 duration-300;
  }
  .ddn-item:hover > .sub-menu {
    @apply visible max-h-[450px] opacity-100;
  }
  /* Fix for nested dropdown icon positioning */
  .sub-menu-btn {
    @apply flex w-full justify-between px-3 capitalize duration-300;
  }
  .sub-menu-btn i {
    @apply ml-auto text-base transition-transform duration-300;
  }
  .ddn-item:hover > .sub-menu-btn i {
    transform: rotate(90deg);
  }
}

/* Button Style */
button {
  @apply cursor-pointer;
}
.btn-primary {
  @apply bg-primary border-primary flex items-center justify-center gap-1 rounded-full border px-6 py-3 font-semibold text-white duration-300 hover:bg-white hover:text-black;
}
.btn-secondary {
  @apply border-secondary hover:bg-secondary flex items-center justify-center gap-1 rounded-full border px-6 py-3 font-semibold duration-300;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.progress {
  height: 80px;
  width: 80px;
  position: relative;
}

.progress svg {
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
}

.progress-bar__background {
  fill: none;
  stroke: rgba(236, 137, 68, 0.4);
}

.progress-bar__progress {
  fill: none;
  stroke: #ff710f;
  transition: stroke-dashoffset 1s linear;
}

#dropin-container .braintree-show-card .braintree-card {
  background-color: var(--light-blue);
}
#dropin-container
  .braintree-sheet__content--form
  .braintree-form__field-group
  .braintree-form__field
  .braintree-form__hosted-field {
  border: 1px solid var(--dark-blue);
  border-radius: 6px;
}
#dropin-container .braintree-sheet__header {
  border-bottom: 1px solid var(--deep-purple);
}
#dropin-container .braintree-form__notice-of-collection a {
  color: var(--deep-purple);
}
#dropin-container .braintree-form__descriptor {
  color: rgba(0, 0, 0, 0.4);
}
#dropin-container .back-btn span {
  color: var(--white);
}

/* braintree */

#cardForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  border-radius: 8px;
  width: 100% !important;
  background: white;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.16),
    0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.panel__header {
  background: blue;
  color: white;
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
}

.panel__header,
.panel__footer {
  padding: 1em 2em;
}

.textfield--float-label {
  width: 50%;
  display: inline-block;
  padding-right: 5px;
}

.hosted-field--label {
  transform: translateY(0.4em);
  font-size: 1.125em;
  line-height: 32px;
  transition: all 0.15s ease-out;
  display: block;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 0.5em;

  &.label-float {
    text-overflow: ellipsis;
    color: #2196f3;
    transition: all 0.15s ease-out;
  }

  &.filled {
    @extend .label-float;
    color: rgba(0, 0, 0, 0.54);
  }

  &.invalid {
    @extend .label-float;
    color: #f44336;
  }
}

.hosted-field {
  height: 32px;
  margin-bottom: 1em;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  position: relative;
}

.pay-button {
  background: #e91e63;
  color: #fff;
  margin: 0 auto;
  border-radius: 3px;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  border: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

/*--------------------
BT HOSTED FIELDS SPECIFIC
--------------------*/

.braintree-hosted-fields-focused {
  border-bottom: 2px solid blue;
  transition: all 200ms ease;
}

.braintree-hosted-fields-invalid {
  border-bottom: 2px solid red;
  transition: all 200ms ease;
}

.hosted-field {
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 1.5rem;
}

.pay-button:hover {
  background-color: #0b5ed7;
}

/*---------------------
Media Queries
----------------------*/

@media (max-width: 600px) {
  html {
    overflow: auto;
  }

  #cardForm {
    height: auto;
    margin: 2em;
    font-size: 13px;
  }

  .panel {
    width: 100%;
  }

  .textfield--float-label {
    width: 100%;
    float: none;
    display: inline-block;
  }

  .pay-button {
    width: 100%;
  }

  .loading-overlay {
    position: relative;
  }

  .loading-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: none;
  }

  .loading-overlay.loading::before {
    display: block;
  }
}

/* Circle Wave Animation */
.wave-animation {
  z-index: 49;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  color: #ff710f;
  position: relative;
}

@keyframes waves {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.waves {
  position: absolute;
  width: 204px;
  height: 204px;
  background: #ff710f;
  opacity: 0;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
  border-radius: 100%;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}
.wave-1 {
  animation-delay: 0s;
}
.wave-2 {
  animation-delay: 0.4s;
}
.wave-3 {
  animation-delay: 0.8s;
}

.texture-bg {
  background: url("/public/Texture.png") lightgray 0% 0% / 100.84999799728394px
    100.84999799728394px repeat;
  mix-blend-mode: overlay;
}

.circle-1 {
  fill:
    linear-gradient(0deg, #008efb 0%, #008efb 100%), var(--Accent01, #f9c004);
  filter: blur(119.5530776977539px);
}

/* Loader */
.loader_svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loader_svg circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.bg-cell-correct {
  @apply bg-green-500 text-white;
}

.bg-cell-partial {
  @apply bg-yellow-500 text-white;
}

.bg-cell-incorrect {
  @apply bg-red-500 text-white;
}
